.DownloadComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DownloadComponent .DownloadButton {
  margin-top: 10px;
  margin-bottom: 10px;
  /* width: -webkit-fill-available;
  width: -moz-available; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DownloadComponent .AudioName:hover {
  color: white;
  background-color: #544caf;
  border-radius: 100px;
}

.DownloadComponent .DownloadIcon {
  height: 3ch;
  width: 3ch;
}

.DownloadComponent .DownloadButton span {
  font-weight: bold;
  margin: 1ch;
  margin-top: 0;
}
