#test{
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:grey;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    }

.active {
    color:blue
}

